<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>
        <!-- タイトルブロックを定義 -->
        Todoアプリ
    </title>
</head>

<body>
    <header>
        <h1>
            やること編集ページ
        </h1>
        <!-- 各画面へのメニュー -->
        <nav>
            <ul>
                <li>
                    <!-- 「/」にアクセスするURLを作成 -->
                    <a href="{{url_for('index')}}">トップページ</a>
                </li>
                <li>
                    <!-- 「/write」にアクセスするURLを作成 -->
                    <a href="{{url_for('write')}}">書き込みページ</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="{{url_for('update', message_id=message.id)}}" method="POST">
            <p><textarea name="contents" rows="5" cols="60">{{message.contents}}</textarea></p>
            <input type="hidden" name="user_name" value="{{login_user_name}}"></label>
            <input type="submit" value="書き込み">

        </form>
    </main>
</body>

</html>